@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:300');

/* --------------------------------------------------------- */
/* -------------------- GLOBAL SETTINGS // STYLES ---------- */
/* --------------------------------------------------------- */
$font-stack: Josefin Sans, Helvetica, sans-serif;
$color-p: #ffe8df;
$color-lg: #f0f0f0;
$color-dg: #888888;

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

body{
	font-family: $font-stack;
	line-height: normal;
	background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Amatic SC;
	letter-spacing: .2em;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ---- Clearfix ---- */
.clearfix::after {
		content: "";
		display: table;
		clear: both;
}

/* --------------------------------------------------------- */
/* ------------------------ CLASSES ------------------------ */
/* --------------------------------------------------------- */
%center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

%borders {
	border-top: 2px solid $color-dg;
	border-bottom: 2px solid $color-dg;
}

///////////////// GLOBAL ////////////////////
.triangle {
	color: $color-dg;
	transform: scale(4);
	margin-top: 8em;
	transition: all .3s;
	
	&:hover { cursor: pointer; color: white; transform: scale(6);}
	&:active { transform: scale(4); }
}

.up {
	margin-bottom: 8em;
	margin-top:0;
}

/* --------------------------------------------------------- */
/* -------------------- BLOCK SELECTORS -------------------- */
/* --------------------------------------------------------- */
header {
	@extend %center;
	height: 7em;
	font-weight: 300;
	
	.main_nav {
		color: $color-dg;
		li { display: inline; font-size: 1.8em; padding: 0 .7em;}
		 
		a {
			display: inline-block;
			transition: all .3s;
		 	&:hover { transform: rotate(-3deg) scale(1.1); }
		  &:active { color:$color-p; }
		}
	}
}

section {
	@extend %center;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
}

footer {
	@extend %center;
	height: 8em;
	color: $color-dg;
	font-size: 1.3em;
	border-top: 2px solid $color-lg;
	
	span {
		padding-top: 1em;
	}
}

/* --------------------------------------------------------- */
/* ----------------- BLOCK-ELEMENT SELECTORS --------------- */
/* --------------------------------------------------------- */
#slide_1 {
	background: linear-gradient(to top, white, $color-p 30%);
	
	h1 {
		@extend %borders;
		
		padding: .5em 0;
		font-size: 4em;
		color: $color-dg;
	}
	
	.attributes {
		color: $color-dg;
		font-family: Amatic SC;
		font-size: 2em;
		margin-top: 1.2em;
		
		li { display: inline; font-size: 1.5em; padding: 0 .8em; }
	}
}

#slide_2 {
	background: linear-gradient(to bottom, white 70%, $color-p);
	
	h1 {
		@extend %borders;
		
		padding: .5em 0;
		font-size: 3em;
		color: $color-dg;
	}
}

#slide_3 {
	background: linear-gradient(to top, white, $color-p 30%);
	
	h1 {
		@extend %borders;
		
		padding: .5em 0;
		font-size: 3em;
		color: $color-dg;
	}
}












//
