@import url('https://fonts.googleapis.com/css?family=Gaegu:700|Josefin+Sans:300');

/* --------------------------------------------------------- */
/* --------------- GLOBAL SETTINGS // STYLES --------------- */
/* --------------------------------------------------------- */
$font-stack: Josefin Sans, Helvetica, sans-serif;
$color-p: #f1f6f9;
$color-light: #9ba4b4;
$color-mid: #394867;
$color-dark: #14274e;

* {
	box-sizing:border-box;
	margin:0;
	padding:0;
}

html { scroll-behavior: smooth; }

body{
	font-family: $font-stack;
	line-height: normal;
	background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-stack;
	letter-spacing: .1em;
}

ul { list-style: none; }
a { text-decoration: none; color: inherit; }

/* ---- Clearfix ---- */
.clearfix::after {
		content: "";
		display: table;
		clear: both;
}

/* --------------------------------------------------------- */
/* ------------------------ CLASSES ------------------------ */
/* --------------------------------------------------------- */
%center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

%borders {
	border-top: 2px solid $color-dark;
	border-bottom: 2px solid $color-dark;
}

// -- Can't highlight via selection
%unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.triangle-button {
	@extend %unselectable;
	color: $color-dark;
	transform: scale(3.5);
	margin-top: 8em;
	transition: all .2s;
	
	&:hover { cursor: pointer; color: white; transform: scale(5);}
	&:active { transform: scale(3); }
	
}

/* --------------------------------------------------------- */
/* -------------------- BLOCK SELECTORS -------------------- */
/* --------------------------------------------------------- */
header {
	@extend %center;
	height: 5em;
	width:100%;
	font-weight: 300;
	position: fixed;
	background-color: #f1f6f9d9;
	
	.main_nav {
		color: $color-dark;
		
		li { display: inline; font-size: 1.8em; padding: 0 .7em;}
		a {
			display: inline-block;
			transition: all .2s;
			padding: 5px;
		 	&:hover {
				filter: blur(0);
				transform: scale(1.1);
				color: white;
				background-color: $color-dark;
			}
		  &:active { color:$color-p; transform: rotate(-3deg) scale(1);}
		}
	}
}

// -- page division sizing and settings
section {
	height: 100vh;
	min-height: 850px;
	width: 100vw;
	max-width: 100%;
	
	h1 {font-size: 4em; padding: .5em 0;}
}

//.separator {background-color: $color-p; padding-top: 150px;}

footer {
	@extend %center;
	height: 8em;
	color: $color-dark;
	font-size: 1.3em;
	border-top: 2px solid $color-light;
	
	span { padding-top: 1em; }
}

/* --------------------------------------------------------- */
/* ----------------- BLOCK-ELEMENT SELECTORS --------------- */
/* --------------------------------------------------------- */
///////////////// SLIDE 1 ////////////////////
#slide_1 {
	@extend %center;
	background: $color-p;
	color: $color-dark;
	
	h1 {
		@extend %borders;
	}
	
	.attributes {
		font-family: Gaegu;
		font-size: 2em;
		margin-top: 1.5em;
		
		li { display: inline; font-size: 1.5em; padding: 0 .8em; }
	}
	
	.summary {
		@extend %center;
		padding: 20px;
		margin-top: 3em;
		width: 100%;
		background: rgba(255,255,255, .5);
		
		p {
			font-size: 1.2em;
			text-align: center;
			font-style: italic;
			line-height: 1.25em;
			width: 900px;
		}
	}
}

///////////////// SLIDE 2 ////////////////////
#slide_2 {
	@extend %center;
	background: $color-dark;
	color: $color-light;
	
	h1 {
		@extend %borders;
	}
	
	span {color: $color-p;} span:hover {color: $color-dark;}
	.container {
		display: table;
		table-layout: fixed;
		width: 800px;
		margin-top: 50px;
		
		div {
			display: table-cell;
			font-size: 1.5em;
			text-align: center;
			
			li {padding: 5px;}
		}
		
		h2 {
			text-align: center;
			margin-bottom: 15px;
			font-size: 1.75em;
		}
	}
}

///////////////// SLIDE 3 ////////////////////
#slide_3 {
	@extend %center;
	background: $color-p;
	color: $color-dark;
	
	h1 {
		@extend %borders;
	}
}

// Media Queries
@media (max-width: 1400px)
{
	#slide_1 {
		.attributes {
			li {display: block;}
		}
	}
}
