@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans:300");
/* --------------------------------------------------------- */
/* --------------- GLOBAL SETTINGS // STYLES --------------- */
/* --------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Josefin Sans, Helvetica, sans-serif;
  line-height: normal;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Amatic SC;
  letter-spacing: 0.2em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---- Clearfix ---- */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------------------------------------------- */
/* ------------------------ CLASSES ------------------------ */
/* --------------------------------------------------------- */
#slide_4, #slide_3, #slide_2, #slide_1 .summary, #slide_1, footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#slide_3 h1, #slide_2 h1, #slide_1 h1 {
  border-top: 2px solid #888888;
  border-bottom: 2px solid #888888;
}

.triangle-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.triangle-button {
  color: #888888;
  transform: scale(3.5);
  margin-top: 8em;
  transition: all 0.3s;
}
.triangle-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(5);
}
.triangle-button:active {
  transform: scale(3);
}

/* --------------------------------------------------------- */
/* -------------------- BLOCK SELECTORS -------------------- */
/* --------------------------------------------------------- */
header {
  height: 5em;
  width: 100%;
  font-weight: 300;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
}
header .main_nav {
  color: #888888;
}
header .main_nav li {
  display: inline;
  font-size: 1.8em;
  padding: 0 0.7em;
}
header .main_nav a {
  display: inline-block;
  transition: all 0.3s;
  padding: 5px;
}
header .main_nav a:hover {
  transform: scale(1.1);
  color: white;
  background-color: #888888;
}
header .main_nav a:active {
  color: #ffe8df;
  transform: rotate(-3deg) scale(1);
}

section {
  height: 100vh;
  min-height: 850px;
  width: 100vw;
  max-width: 100%;
}
section h1 {
  font-size: 4em;
  padding: 0.5em 0;
}

footer {
  height: 8em;
  color: #888888;
  font-size: 1.3em;
  border-top: 2px solid #f0f0f0;
}
footer span {
  padding-top: 1em;
}

/* --------------------------------------------------------- */
/* ----------------- BLOCK-ELEMENT SELECTORS --------------- */
/* --------------------------------------------------------- */
#slide_1 {
  background: linear-gradient(to top, white, #ffe8df 30%);
  color: #888888;
}
#slide_1 h1 {
  margin-top: 1em;
}
#slide_1 .attributes {
  font-family: Amatic SC;
  font-size: 2em;
  margin-top: 1.5em;
}
#slide_1 .attributes li {
  display: inline;
  font-size: 1.5em;
  padding: 0 0.8em;
}
#slide_1 .summary {
  padding: 20px;
  margin-top: 3em;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#slide_1 .summary p {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  line-height: 1.25em;
  width: 900px;
}

#slide_2 {
  background: linear-gradient(to bottom, white 70%, #ffe8df);
  color: #888888;
}
#slide_2 .container {
  display: table;
  table-layout: fixed;
  width: 800px;
  margin-top: 50px;
}
#slide_2 .container div {
  display: table-cell;
  font-size: 1.5em;
  text-align: center;
}
#slide_2 .container div li {
  padding: 5px;
}
#slide_2 .container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.75em;
}

#slide_3 {
  background: linear-gradient(to top, white, #ffe8df 30%);
  color: #888888;
}
#slide_4 .project-showcase {
  width: 80%;
  height: 70%;
  background-color: #888888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=style.css.map */
