@import url("https://fonts.googleapis.com/css?family=Gaegu:700|Josefin+Sans:300");
/* --------------------------------------------------------- */
/* --------------- GLOBAL SETTINGS // STYLES --------------- */
/* --------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Josefin Sans, Helvetica, sans-serif;
  line-height: normal;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Josefin Sans, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

ul {
  list-style: circle;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---- Clearfix ---- */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* --------------------------------------------------------- */
/* ------------------------ CLASSES ------------------------ */
/* --------------------------------------------------------- */
#slide_3, #slide_2, #slide_1 .summary, #slide_1, footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#slide_3 h1, #slide_2 h1, #slide_1 h1 {
  border-top: 2px solid #14274e;
  border-bottom: 2px solid #14274e;
}

.triangle-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.triangle-button {
  color: #14274e;
  transform: scale(3.5);
  margin-top: 8em;
  transition: all 0.2s;
}
.triangle-button:hover {
  cursor: pointer;
  color: white;
  transform: scale(5);
}
.triangle-button:active {
  transform: scale(3);
}

/* --------------------------------------------------------- */
/* -------------------- BLOCK SELECTORS -------------------- */
/* --------------------------------------------------------- */
header {
  height: 5em;
  width: 100%;
  font-weight: 300;
  position: fixed;
  background-color: #f1f6f9d9;
}
header .main_nav {
  color: #14274e;
}
header .main_nav li {
  display: inline;
  font-size: 1.8em;
  padding: 0 0.7em;
}
header .main_nav a {
  display: inline-block;
  transition: all 0.2s;
  padding: 5px;
}
header .main_nav a:hover {
  filter: blur(0);
  transform: scale(1.1);
  color: white;
  background-color: #14274e;
}
header .main_nav a:active {
  color: #f1f6f9;
  transform: rotate(-3deg) scale(1);
}

section {
  height: 100vh;
  min-height: 850px;
  width: 100vw;
  max-width: 100%;
}
section h1 {
  font-size: 4em;
  padding: 0.5em 0;
}

footer {
  height: 8em;
  color: #14274e;
  font-size: 1.3em;
  border-top: 2px solid #9ba4b4;
}
footer span {
  padding-top: 1em;
}

/* --------------------------------------------------------- */
/* ----------------- BLOCK-ELEMENT SELECTORS --------------- */
/* --------------------------------------------------------- */
#slide_1 {
  background: #f1f6f9;
  color: #14274e;
}
#slide_1 .attributes {
  font-family: Gaegu;
  font-size: 2em;
  margin-top: 1.5em;
}
#slide_1 .attributes li {
  display: inline;
  font-size: 1.5em;
  padding: 0 0.8em;
}
#slide_1 .summary {
  padding: 20px;
  margin-top: 3em;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
}
#slide_1 .summary p {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  line-height: 1.25em;
  width: 900px;
}

#slide_2 {
  background: #14274e;
  color: #9ba4b4;
}
#slide_2 ul {
  list-style: none;
}
#slide_2 span {
  color: #f1f6f9;
}
#slide_2 span:hover {
  color: #14274e;
}
#slide_2 .container {
  display: table;
  table-layout: fixed;
  width: 800px;
  margin-top: 50px;
}
#slide_2 .container div {
  display: table-cell;
  font-size: 1.5em;
  text-align: center;
}
#slide_2 .container div li {
  padding: 5px;
}
#slide_2 .container h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.75em;
}

#slide_3 {
  height: 1000px;
  background: #f1f6f9;
  color: #14274e;
}
#slide_3 h1 {
  margin-bottom: 100px;
}
#slide_3 .projects {
  width: 90%;
  display: table;
  margin-bottom: 150px;
}
#slide_3 .projects .card {
  display: table-cell;
  width: 33%;
  height: 300px;
  padding: 0 35px;
}
#slide_3 .projects .card h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8em;
}
#slide_3 .projects .card ul {
  margin-top: 10px;
}
#slide_3 .projects .card li {
  padding-top: 8px;
  font-size: 1.2em;
}
#slide_3 .projects .card .vesta {
  background: center/cover url("../img/vestaProperties.JPG");
}
#slide_3 .projects .card .cobra {
  background: center/cover url("../img/cobraPricing.JPG");
}
#slide_3 .projects .card .gym {
  background: center/cover url("../img/gymLanding.JPG");
}
#slide_3 .projects .img {
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  #slide_1 .attributes li {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
